.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 80vw;
  padding: 2rem;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  padding: 1rem;
  gap: 1rem;
}

/* 1920 Media */
@media (min-width: 1920px) {
  .container {
    width: 60vw;
  }

  .projectsContainer {
    width: 60vw;
  }
}